{% extends 'main/base_site.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%  block title%}
    <title>CineDate-Registrazione</title>
{% endblock %}
{% block body %}

<div class="container-fluid">

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>

	<p>
         <div style="text-align: center;">
		    <a class="btn btn-outline-dark" href="{% url 'social:begin' 'google-oauth2' %}" role="button" style="text-transform:none">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                Login with Google
            </a>
        </div>
    </p>
	<p class="divider-text">
        <div style="text-align: center;"><span class="bg-light">OR</span></div>
    </p>

<form role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
	 <fieldset class="form-group">
                {{ form|crispy }}
     </fieldset>
     <fieldset class="form-group">
         {% crispy profileForm %}
     </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div> <!-- form-group// -->
    <p class="text-center">Hai già un account? <a href="{% url 'utenti:utenti_login' %}">Log In</a> </p>
</form>
</article>
</div>

</div>
<!--container end.//-->

{% endblock %}



