{% extends 'main/base_site.html' %}
{% load static %}

{% block head %}
<style>
    .carousel-item {
        height: 36rem;
        color: white;
    }
    .container2{
        background: #747884;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{ color: whitesmoke; }
</style>
{% endblock head %}

{% block body %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-right: 13rem; margin-left: 13rem;">
        <ol class="carousel-indicators">
            <li data-target="myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="myCarousel" data-slide-to="1"></li>
            <li data-target="myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="border-radius: 2rem; ">
            <div class="carousel-item active image" style="background-image: url('/static/images/proiettore_image.jpg');">
                <div class="container2">
                    <h1>Condividi i tuoi film preferiti!</h1>
                    <p>Crea i tuoi inviti e guarda i film che ti interessano con chi vuoi!</p>
                </div>
            </div>
            <div class="carousel-item image" style="background-image: url('/static/images/chilling_image.jpg');">
                <div class="container2">
                    <h1>Al cinema o a casa tua</h1>
                    <p>Pianifica uscite o TeleParty sulle tue piattaforme preferite</p>
                </div>
            </div>
            <div class="carousel-item image" style="background-image: url('/static/images/chat_image.jpg');">
                <div class="container2">
                    <h1>Chatta e fai nuove amicizie!</h1>
                    <p>Rimani sempre collegato con i tuoi nuovi cine-friends!</p>
                </div>
            </div>
        </div>
        <a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="sr-only">Next</span>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

{% endblock body %}
