{% extends "inviti/base.html" %}
{% load static %}

{% block content %}
    {% for i in inviti %}
        <div class="invito-item">
            <div class="invito-item__img">
                <img src="{% static 'images/images.jpg' %}" alt="">
            </div>
            <div class="invito-item__info">
                <div class="invito-item__user">
                    <a href="{% url 'inviti-utente' i.utente.username %}">{{ i.utente }}</a>
                </div>
                <div class="invito-item__date">
                    <span>{{ i.data|date:"j/n/y" }}</span>
                    <span>{{ i.orario|time:"G:i" }} - {{ i.cinema }}</span>
                </div>
                <a href="{% url 'invito-detail' i.id %}"><h1 class="invito-item__title">{{ i.film }}</h1></a>
                <p class="invito-item__text">Posti Rimasti: {{ i.posti_rimasti }}</p>
                {% for g in i.genere %}
                    <a href="#" class="invito-item__cta">{{ g }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">Prima</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Precendente</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Prossima</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ultima</a>
        {% endif %}

    {% endif %}
{% endblock content %}