{% extends "main/base.html" %}
{% load static %}

{% block head2 %}
    <script src="{% static 'inviti/inviti.js' %}"></script>
    <script>
        let num_pages = {{ num_pages }};
        let generi = '{{ user_profile.generi_preferiti }}'.split(", ");
    </script>
<style>
    button {
        outline: 0;
        color: #fff;
        background: rgba(116,120,132, 0.4);
    }
</style>
{% endblock head2 %}


{% block content %}

    {% include 'inviti/inviti_list_serialized.html' %}
    {% if user.is_authenticated %}
        <div class="pagination">
            <div class="page-item" id="fp"><a class="page-cursor" id="first" data-value="1">1</a></div>
            <div class="page-item" id="pp"><a class="page-cursor" id="prev" data-value="0">&#8249;</a></div>
            <div class="page-item" id="np"><a class="page-cursor" id="next" data-value="2">&#8250;</a></div>
        </div>
    {% else %}
        {% include 'inviti/pagination.html' %}
    {% endif %}

{% endblock content %}