{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load static %}

{% block head2 %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style> #div_id_vicini_a_me{display:none;}</style>
    <script>
        let user = '{{ user }}';
    </script>
    <script>
        $(document).ready(function(){
            console.log(user);
            if(typeof user !== 'undefined' && user !== 'AnonymousUser'){
                $('#div_id_vicini_a_me').show();
            }
        });
    </script>
{% endblock head2 %}

{% block content %}
    <div class="generic-container-title">
        <legend class="border-bottom mb-4" style="color: #444444; text-transform: uppercase; letter-spacing: 1px">Filtro Avanzato</legend>
        <form action="" method="get">
            {% crispy filter.form filter.form.helper %}
        </form>
    </div>
    <br>

    {% include 'inviti/inviti_list.html' %}

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=1 %}">1</a>
            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.previous_page_number %}">&lt;</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?{% param_replace page=num %}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <a class="btn btn-outline-info mb-4" href="?{% param_replace page=num %}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.next_page_number %}">&gt;</a>
            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=paginator.num_pages %}">{{paginator.num_pages}}</a>
        {% endif %}

    {% endif %}

{% endblock content %}