{% extends "main/base.html" %}
{% load static %}


{% block head2 %}
    <script>
        let passed_url = '/inviti/generi/{{ genere }}';
        let num_pages = {{ num_pages }};
    </script>
    <script src="{% static 'inviti/inviti.js' %}"></script>

{% endblock head2 %}

{% block content %}
    <div class="results-title" style="margin-left: 1rem;">
        <legend class="border-bottom mb-4" style="color: #444444; text-transform: uppercase; letter-spacing: 1px; font-size: 2rem">Invito genere</legend>
        <a href="#" class="results-filter-item" style="display: inline-block">{{ genere }}</a>

        <small style="color: #5f788a; display: block;">{{ results_count }} risultati trovati</small>
    </div>
    <br>

    {% include 'inviti/inviti_list_serialized.html' %}
    {% include 'inviti/pagination.html' %}

{% endblock content %}