{% extends "inviti/base.html" %}
{% block content %}
    <h1 class="mb-3">Inviti di {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for i in inviti %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'inviti-utente' i.utente.username %}">{{ i.utente }}</a>
                    <small class="text-muted">{{ i.data_invito }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'invito-detail' i.id %}">{{ i.film }}</a></h2>
                <h3><a class="article-title">{{ i.cinema }} - {{ i.data|date:"F d, Y" }} - {{ i.orario }}</a></h3>
                <p class="article-content">Genere: {{ i.genere }}</p>
                <p class="article-content">Massimo numero persone: {{ i.limite_persone }}</p>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">Prima</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Precendente</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Prossima</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ultima</a>
        {% endif %}

    {% endif %}
{% endblock content %}