{% extends "inviti/base.html" %}
{% load static %}
{% block content %}

    <div class="invito-item">
        <div class="invito-item__img">
            <img src="{% static 'images/images.jpg' %}" alt="">
        </div>
        <div class="invito-item__info">
            <div class="invito-item__user">

                <a href="{% url 'inviti-utente' invito.utente.username %}">{{ invito.utente }}</a>
            </div>
            <div class="invito-item__date">
                <span>{{ invito.data|date:"j/n/y" }}</span>
                <span>{{ invito.orario|time:"G:i" }} - {{ invito.cinema }}</span>
            </div>
            <a href="{% url 'invito-detail' invito.id %}"><h1 class="invito-item__title">{{ invito.film }}</h1></a>
            {% for g in invito.genere %}
                <a href="#" class="invito-item__cta">{{ g }}</a>
            {% endfor %}
            <p class="invito-item__text" style="margin-top: 1rem; font-style: italic; font-weight: lighter; font-size: 0.9rem;">Commento dell'utente: {{ invito.commento }}</p>
            <p class="invito-item__text">Posti Rimasti: {{ invito.posti_rimasti }}/{{ invito.limite_persone }}</p>
            {% if invito.posti_rimasti != invito.limite_persone %}
                <p class="invito-item__text">Altri partecipanti:</p>
                {% for p in partecipanti_attuali %}
                    <a href="#" class="invito-item__users">{{ p }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="invito-item__buttons">
        {% if invito.utente == user %}
            <a class="invito-item__update_button" href="{% url 'invito-update' invito.id %}">Aggiorna</a>
            <a class="invito-item__delete_button" href="{% url 'invito-delete' invito.id %}">Elimina</a>
        {% endif %}
        {% if user.is_authenticated and invito.utente != user %}
            <a class="btn btn-outline-info" href="{% url 'invito-partecipa' invito.id %}">Partecipa!</a>
        {% endif %}
    </div>


{% endblock content %}