{% extends "inviti/base.html" %}
{% block content %}
    <div class="invito-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Accetta Invito</legend>
                <div class="invito-section__content">
                    <span>Sei sicuro di voler partecipare al seguente evento? </span>
                </div>
            </fieldset>
            <div class="invito-section__text">
                    <span style="margin-top: 1rem;">{{ invito.film }}</span>
                    <span>{{ invito.cinema }}</span>
                    <span>{{ invito.data|date:"j/n/y" }} - {{ invito.orario|time:"G:i" }}</span>
            </div>

            <div class="form-group" style="margin-top: 1rem;">
                <button class="btn btn-info" type="submit">Sì, voglio partecipare</button>
                <a class="btn btn-outline-secondary" href="{% url 'invito-detail' invito.id %}">Annulla</a>
            </div>
        </form>
    </div>
{% endblock content %}