{% extends "main/base.html" %}
{% load static %}

{% block head2 %}
    <script>
        let passed_url = '/inviti/utente/{{ username }}/prenotazioni';
        let num_pages = {{ num_pages }};
    </script>
    <script src="{% static 'inviti/inviti.js' %}"></script>

{% endblock head2 %}

{% block content %}

    <legend class="border-bottom mb-4" style="color: #444444; text-transform: uppercase; letter-spacing: 1px; font-size: 2rem">Prenotazioni di {{ username }}</legend>
    <small style="color: #5f788a; display: block;">{{ results_count }} risultati trovati</small>
    <br>

    {% include 'inviti/inviti_list_serialized.html' %}
    {% include 'inviti/pagination.html' %}

{% endblock content %}