{% extends 'main/base_site.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'chatroom/style.css' %}"/>

    <div class="container">
        <div class="page-header">
            <legend class="border-bottom mb-4" style="color: #444444; text-transform: uppercase; letter-spacing: 1px; font-size: 2rem">CHAT: {{ room.title }}</legend>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="user-list" class="list-group">
                        <h4 class="list-group-item-heading" style="color: #444444; text-transform: uppercase; letter-spacing: 1px; font-size: 1rem">Partecipanti</h4>
                        {% for user in utenti %}
                            <a class="list-group-item user" href="{% url 'utenti:view_profile' oid=user.pk%}"><img src="{{ user.foto_profilo_or_default }}" class="rounded-circle" style="width: 5rem; height: 5rem; border: 0.4rem solid #9c113d; margin-right: 0.7rem;">{{ user }}</a>
                        {% endfor %}

                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-info" style="padding: 1rem; background: white; border-radius: 0.5rem;">

                    <div>
                        <ul id="messages" class="messages">
                            {# Messages go here #}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="Type your message here ..."
                                   maxlength="500">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn"
                                    id="btn-send">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <br>

    <script>
        let currentUser = '{{ request.user.username }}';
        let currentRecipient='{{ room.id }}';
        let myurl="{% url 'chatroom:get-messages' room_name=room.id%}"
    </script>
    <script src="{% static 'chatroom/app.js' %}"></script>

{% endblock %}