{% extends 'main/base_site.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'chatroom/style.css' %}"/>

    <div class="container">
        <div class="page-header">
            <h1>{{ room.title }}

            </h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="user-list" class="list-group">
                    <a href="" class="list-group-item disabled">
                        <h4 class="list-group-item-heading">Users</h4>
                        {% for user in room.users.all%}
                            <a class="list-group-item user" href="{% url 'utenti:view_profile' oid=user.pk%}">{{ user.username }}</a>
                        {% endfor %}
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Chat</h4>
                    </div>
                    <div>
                        <ul id="messages" class="messages">
                            {# Messages go here #}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="Type your message here ..."
                                   maxlength="500">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn"
                                    id="btn-send">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script>
        let currentUser = '{{ request.user.username }}';
        let currentRecipient='{{ room.id }}';
    </script>
    <script src="{% static 'chatroom/app.js' %}"></script>

{% endblock %}