{% extends 'main/base_site.html' %}
{% load static %}
{% load my_tags %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'inviti/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
    {% block head2 %}{% endblock head2 %}
{% endblock head %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <!-- left column with content -->
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}"></div>
                        {{ message }}
                    {% endfor %}
                {% endif %}

                {% block content %}{% endblock %}

            </div>
            <!-- right column with sidebar -->
            <div class="col-md-4">
                <div class="right-col">
                    {% if user.is_authenticated %}
                        <div class="content-section">
                            <img src="{{ user_profile.foto_profilo_or_default }}" class="rounded-circle" style="width: 5rem; height: 5rem; border: 0.4rem solid #9c113d; margin-right: 0.7rem;">
                            <a style="color: #444444; text-transform: uppercase; letter-spacing: 1px; font-size: 0.8rem;">Ciao, <a style=" font-weight: bold; color: #9c113d; text-transform: uppercase; letter-spacing: 1px; font-size: 0.8rem;">{{ user.username }}</a></a>

                            {% if filtro_generi %}
                                <div class="genere-filter-container" style="margin-top: 1rem;">
                                    <div class="row-fluid">
                                        {% for g in user_profile.generi_preferiti %}
                                            <button class="span2 btn genere" id="{{ g }}">{{ g }}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    {% endif %}
                    <div class="content-section">

                        <ul class="list-group" style="border-top: 1rem;">
                            <li class="list-group-item list-group-item-light"><a href="{% url 'inviti-home' %}" style="color: #444444; text-transform: uppercase; letter-spacing: 1px; font-size: 0.8rem;">Prossimi Inviti</a></li>
                            <li class="list-group-item list-group-item-light"><a href="{% url 'generi-filter' %}" style="color: #444444; text-transform: uppercase; letter-spacing: 1px; font-size: 0.8rem;">Inviti per Genere</a></li>
                            <li class="list-group-item list-group-item-light"><a href="{% url 'inviti-filter' %}" style="color: #444444; text-transform: uppercase; letter-spacing: 1px; font-size: 0.8rem;">Ricerca per Film, Data...</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
