{% extends 'main/base_site.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'inviti/style.css' %}">
    {% block head2 %}{% endblock head2 %}
{% endblock head %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <!-- left column with content -->
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}"></div>
                        {{ message }}
                    {% endfor %}
                {% endif %}

                {% block content %}{% endblock %}
            </div>
            <!-- right column with sidebar -->
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Filtra...</h3>
                    <p class='text-muted'>... tramite le seguenti categorie!
                    <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Recenti</li>
                    <li class="list-group-item list-group-item-light">Per Genere</li>
                    <li class="list-group-item list-group-item-light">Per Data</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
