{% extends 'main/base_site.html' %}
{% load static %}
{% load my_tags %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'inviti/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
    {% block head2 %}{% endblock head2 %}
{% endblock head %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <!-- left column with content -->
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}"></div>
                        {{ message }}
                    {% endfor %}
                {% endif %}

                {% block content %}{% endblock %}

                    {% if is_paginated %}

                        {% if page_obj.has_previous %}
                            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=1 %}">1</a>
                            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.previous_page_number %}">&lt;</a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a class="btn btn-info mb-4" href="?{% param_replace page=num %}">{{ num }}</a>
                            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                                <a class="btn btn-outline-info mb-4" href="?{% param_replace page=num %}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.next_page_number %}">&gt;</a>
                            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=paginator.num_pages %}">{{paginator.num_pages}}</a>
                        {% endif %}

                    {% endif %}
            </div>
            <!-- right column with sidebar -->
            <div class="col-md-4">
                <div class="content-section">

                    <ul class="list-group" style="border-top: 1rem;">
                        <li class="list-group-item list-group-item-light"><a href="{% url 'inviti-home' %}" style="color: #444444; text-transform: uppercase; letter-spacing: 1px; font-size: 0.8rem;">Prossimi Inviti</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'generi-filter' %}" style="color: #444444; text-transform: uppercase; letter-spacing: 1px; font-size: 0.8rem;">Inviti per Genere</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'inviti-filter' %}" style="color: #444444; text-transform: uppercase; letter-spacing: 1px; font-size: 0.8rem;">Ricerca per Film, Data...</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </main>

{% endblock body %}
