{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src=" https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% block head %}
    {% endblock head %}

    {% if title %}
        <title>CineDate - {{ title }}</title>
    {% else %}
        <title>CineDate</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'main:index' %}">CineDate</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <!-- link to the two pages (spec name) -->

                        <a class="nav-item nav-link" href="{% url 'inviti-home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'inviti-about' %}">About</a>
                    </div>
                    <!-- Navbar Right Side (# is a dead link) -->
                    <div class="navbar-nav">
                        {% if not user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'utenti:utenti_login' %}">Login</a>
                            <a class="nav-item nav-link" href="{%  url 'utenti:registrazione' %}">Registrati</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'invito-create' %}">Nuovo Invito</a>
                            <a class="nav-item nav-link" href="{% url 'utenti:view_profile' oid=user.pk%}">Profilo</a>
                            <a class="nav-item nav-link" href="{%  url 'utenti:logout_user' %}">Logout</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="bg-image">
        {% block body %}
        {% endblock %}
    </div>






</body>
</html>
