{% extends base_template %}
{% load staticfiles%}
{% block title %}Animal'sCare - Inserisci recensione{% endblock %}
{% block calendario_active %}active{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6" style="float: none; margin: 0 auto;">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if not error_message %}
                        <div style="text-align: center;">
                            <h3>Inserisci una nuova recensione</h3>
                        </div>
                        <br>
                        <form id="recensione-form" class="form-horizontal" role="form" action="" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            {% for field in form %}
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <span class="text-danger small">{{ field.errors }}</span>
                                    </div>
                                    <label class="control-label col-sm-2" for="user">{{ field.label_tag }}</label>
                                    <div class="col-sm-10">{{ field }}</div>
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Inserisci recensione</button>
                                </div>
                            </div>
                        </form>
                        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
                        <script type="text/javascript" src="{% static 'recensione_form_validator.js' %}"></script>

                        <br>
                        <p> I campi contrassegnati con <span style="color:red;">*</span> sono obbligatori.</p>
                    {% else %}
                        <p><strong>{{ error_message }}.</strong></p>
                        Sarai rediretto al calendario entro <span id="countdown">5</span> secondi.

                        <script>
                            var seconds = document.getElementById("countdown").textContent;
                            var countdown = setInterval(function() {
                                seconds--;
                                document.getElementById("countdown").textContent = seconds;
                                if (seconds <= 0) clearInterval(countdown);
                            }, 1000);
                            window.setTimeout(function(){
                                window.location.href = "{% url 'annunci:calendario' %}";
                            }, 5000);
                        </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
