{% extends base_template %}
{% block title %}Animal'sCare - Recensioni ricevute{% endblock %}
{% block profilo_active %}active{% endblock %}


{% block body %}

    <div class="container text-left">
        <b>Recensioni ricevute da {{ username }}</b>
    </div>

    <div class="container">
        {% for recensione in recensioni %}
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-10 col-md-10 section-box">
                                <h3>{{ recensione.titolo }}</h3>
                                <h5>{{ recensione.descrizione }}</h5>
                                {% for i in 'xxxxx' %}
                                    {% if forloop.counter0 < recensione.voto %}
                                        <span class="glyphicon glyphicon-heart"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    {% endif %}
                                {% endfor %}
                                ( {{ recensione.voto }})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
